* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    font-size: larger;
}

#container .header {
    background-color: gray;
}

#container .main {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 0;
}

#container .main .a {
    background-color: red;
}

#container .main .b {
    background-color: orange;
}

#container .main .c {
    background-color: yellow;
    grid-area: 1/2/3/3;
}

#container .footer {
    background-color: gray;
}


@media (max-width:800px) and (min-width:400px){
    #container .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 0;
    }

    #container .main .c {
        grid-area: 1/2/3/3;
    }
}

@media (max-width: 400px)
{
    #container .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        gap: 0;
    }
    #container .main .c {
        grid-area: 3/1;
    }
}